{% extends "::base.html.twig" %}

{% block title %}AppBundle:Topic:show{% endblock %}

{% block body %}
    <h3>{{ topic.title }}</h3>
    <blockquote>{{ topic.author }}</blockquote>

    <a href="{{ path('app_post_add', {topic_id: topic.id}) }}">
        <button class="btn waves-effect waves_light">
            Create new message <i class="material-icons right">send</i>
        </button>
    </a>

    <ul class="collection">
        {% for post in topic.post %}
            <li class="collection-item avatar">
                <i class="material-icons circle green">insert_chart</i>
                <span class="title">
         {# <a href="{{ path('app_topic_show', {topic_id: topic.id, id: post.id}) }}"> </a> #}
                    {{ post.message }}
        </span>
                <span class="secondary-content">
            {{ post.author }} - {{ post.creation | date }}
        </span>
            </li>
        {% endfor %}

    </ul>

{% endblock %}